body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container-box {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

canvas {
  border: 2px solid #333;
  border-radius: 10px;
  cursor: crosshair;
  margin: 10px;
}

.btn {
  margin: 5px;
}

#colorPicker {
  margin-left: 10px;
}

#imageLoader {
  display: inline-block;
  color: #a7a7a7;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
